*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

#root{
    width: 100%;
    height: 100%;
}

.app-body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
                        'navBar navBar'
                        'classDates studentInfo'


}

span{
    color: green;
}